@layer utils, core;

@import "./utils.css" layer(utils);

@import "./lib/reset.css" layer(core);
@import "./lib/skip-to-nav.css" layer(core);
@import "./custom-properties.css" layer(core);
@import "./button.css" layer(core);

body {
  font-family: var(--typography-body-family);
}

h1,
h2 {
  font-family: var(--typography-heading-family);
}

h1 {
  font-size: var(--typography-size-xxl);
}

h2 {
  font-size: var(--typography-size-xl);
}

.primary-nav {
  list-style: none;
  margin-block-start: var(--size-12);
  padding: 0;

  a {
    border-block-end: 1px solid var(--color-neutral-70);
    border-inline-start: 0 solid transparent;
    color: var(--color-neutral-90);
    display: block;
    padding: var(--size-6);
    padding-inline-start: 0;
    text-decoration: none;
    transition: border-inline-start 0.3s;
  }

  a:focus,
  a:hover,
  a:active {
    background-color: var(--color-neutral-90);
    border-inline-start: var(--size-4) solid transparent;
    color: var(--color-neutral-inverted);
  }

  @media only screen and (min-width: 63.9375rem) {
    a {
      border: 1px solid var(--color-neutral-70);
      border-inline-start: 1px solid var(--color-neutral-70);
      padding-inline-start: var(--size-6);
      transition: background-color 0.3s;
    }

    a:focus,
    a:hover,
    a:active {
      background-color: var(--color-neutral-90);
      border-inline-start: 1px solid var(--color-neutral-70);
      color: var(--color-neutral-inverted);
    }
  }
}

@media only screen and (min-width: 63.9375rem) {
  .primary-nav a {
    border: 1px solid var(--color-neutral-70);
    border-inline-start: 1px solid var(--color-neutral-70);
  }
}

.main-hero-container,
.page-header {
  padding: var(--size-12);
}

@media only screen and (min-width: 47.9375rem) {
  .page-header {
    align-items: center;
    display: flex;
    padding: var(--size-24);
    justify-content: space-between;
  }

  .page-header-logo {
    display: block;
    max-inline-size: 300px;
  }

  .primary-nav {
    align-items: center;
    display: flex;
    gap: var(--size-12);
  }
}

.main-hero-lead {
  font-size: var(--typography-size-medium);
  margin-block-end: var(--size-12);
}

.principles-section-title {
  background-color: var(--color-matterhorn);
  border-block-end: 0.5rem solid var(--color-wax);
  color: var(--color-neutral-inverted);
  font-size: var(--typography-size-large);
  padding: var(--size-12);
  text-wrap: initial;
}

.principles-list {
  background-color: var(--color-neutral-90);
  color: var(--color-neutral-inverted);
  display: flex;
  flex-flow: column;
  gap: var(--size-12);
  font-size: var(--typography-size-small-medium);
  padding: var(--size-12);

  @media only screen and (min-width: 63.9375rem) {
    flex-flow: row wrap;
  }

  .principles-list-item {
    background-color: var(--color-plum);
    border-inline-start: 0.5rem solid var(--color-wax);
    padding: var(--size-12);

    @media only screen and (min-width: 63.9375rem) {
      flex: 0 1 30%;
    }
  }
}

.text-emphasis {
  color: var(--color-wax);
  font-size: var(--typography-size-medium);
  font-style: normal;
  font-weight: 600;
}
